<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./css/albumpage_style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Album page</title>
     <link rel="preconnect" href="https://fonts.googleapis.com"> 
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a class="logo" href="GetHomePage">Home Page</a>
        <a class="logout" href="Logout">Logout</a>            
    </header>

    <div class="album" th:if="${imageDetails==null}">
        <div class="albumTag">
            <h2></h2>
        </div>
        <table class="albumList-table">
            <thead class="table-head">
                <tr>
                    <th>Image Title</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>

            <tbody th:remove="all-but-first">
                <tr th:if="${not imagesToShowList.isEmpty()}" th:each="image : ${imagesToShowList}">
                    <td th:text="${image.getTitle()}">
                        <a>Cats Image 1</a>
                    </td>
                    <td>
                    <a th:href="@{/ShowImageDetails(image=${image.getIdImage})}">
                        <img class="thumbnail" th:src="@{/GetImage(fileName=${image.getPath()}, userId=${image.getIdUser()})}"  width="120" alt="Can't load image :(">
                   </a>
                    </td>
                </tr>
            </tbody>
             </table>
            <div class="arrowsDiv">
                <a th:href="@{/GetAlbumPage(album=${#request.getParameter('album')}, page=${pageId}-1, dir='prev')}"
                    th:class="${(imageFullList.size()>5 && pageId>0) ? 'leftArrow' : 'hidden'}"
                        th:text="${imageFullList.size()>5 ? 'Prev' : ''}"></a>
                <a th:href="@{/GetAlbumPage(album=${#request.getParameter('album')}, page=${pageId}+1, dir='next')}"
                   th:class="${(imageFullList.size()>5 && pageId<imageFullList.size()/3 - 1) ? 'rightArrow' : 'hidden'}"
                        th:text="${(imagesToShowList.size()==5 && imageFullList.size() - (pageId+1)*5 > 0) ? 'Next' : ''}"></a>
                <div class="clear"></div>
            </div>
       	<div class="spaceNewImage" th:if="${showAddImage}">
        <a class="createImage" th:href="@{/PostImage(album=${album})}">
                Add new Image
        </a>
    	</div>
    </div>
    
    <div class="main" th:if="${(imageDetails!=null)}">
    	<h1 class="title">Titolo: <span th:text="${imageDetails.getTitle()}"></span></h1>
    	<img class="selected_image" alt="can't load image" th:src="@{/GetImage(fileName=${imageDetails.getPath()}, userId=${imageDetails.getIdUser()})}"><br/>
    	<h2 class="title">user: <span th:text="${imageDetails.getUsername()}"></span></h2>
    	<h2 class="title">creation date: <span th:text="${imageDetails.getDate()}"></span></h2>
    	<h2 class="title">description:</h2> 
    	<p class="description" th:text="${imageDetails.getDescription()}"><hr/></p>
        <div class="comments_container">
            <form class="comment_form" action="PostComment" method="POST">
            	<input type="hidden" name="image" th:value="${imageDetails.getIdImage()}"/>
            	<div class="comment_input">
                	<textarea placeholder="write a new comment..." name="comment" id="comment"></textarea>
                	<input type="submit" class="send_comment_btn" value="send">
                </div>
            </form>
            <ul class="comment_list" th:remove="all-but-first">
                <li class="comment" th:each="comment : ${commentList}">
                	<h4 th:text="${comment.getUsername()}"></h4>
                	<p th:utext="${comment.getText()}"></p>
                </li>
            </ul>
        </div>
        <p class="backAlbumButton">Back to <a th:href="@{/GetAlbumPage(album=${imageDetails.getIdAlbum()}, page=0)}">Album Page</a></p>
    </div>
</body>
</html>